body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  font-family: ABeeZee;
}

button {
  z-index: 2;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

@keyframes swing {
  0%, 100% { transform: rotate(-30deg); }
  50% { transform: rotate(30deg); }
}

#gyarados {
  animation: swing 1s infinite ease-in-out;
}

.fullscreen-bg__video {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
video {
  -webkit-transform: scaleX(2);
  -moz-transform: scaleX(2);
  object-fit: fill
}
.title{
  padding:5px 12px;
  float:right;
  background-color: #777;
}
.topbar{
  height:32px;
  background-color: #555;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.squareUp {
  padding: 0;
  margin: auto;
  display: inline-block;
  width: 500px;
}
.gyarados {
  position:absolute;
  width: 500px;
  height: auto;
  /* gyrados starts at left 900 px */
}
.squirtle {
  position:absolute;
  width: 150px;
  height: auto;
}
.imageRot {
  -webkit-animation:spin 2s ease-in-out;
   -moz-animation:spin 2s ease-in-out;
   animation:spin 2s ease-in-out;
}
@-moz-keyframes spin {
   100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes spin {
   100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes spin { 
   100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
